/* @media ( min-width: 610px) { 
    .carousel-title{
        color: #09ff00;
    }
  } */



/* carousel */

.carousel-control-next, .carousel-control-prev{
    width: 3%;
}
.carousel-item img {
    height: 527px;
}
.carousel-caption{
    top: 50px;
    left: 40px;
    right: 40px;
    /* text-align: justify; */
}
.carousel-media{
    width: 350px;
    height: 300px!important;
}
.carousel-title{
    text-align: justify;
    padding: 30px 0px 20px;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0);
}
.carousel-text *{
    background-color: rgba(255, 255, 255, 0);
    text-align: justify;
    font-size: 16px;
    color: #fff;
}
/* end carousel */


/* media */

    /* liste des articles par categorie */
    .media-articles *{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
        color: black;
        line-height: 20px;
    }
    /* end liste articles */

.medias{
    background-color: #f2f5f7;
    display: block;
    text-align: center;
}
.medias .categorie {
    justify-content: center;
}
.media .img-media-categories{
    height: 250px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.media a .img-media-categories img{
    transition: all 0.5s ease-in;
    width: 100%;
    height: 100%;
}
.media a:hover .img-media-categories img{
    transform: scale(1.2);
}

/* new swiper */
.swiper{
    display: flex;
}
.swiper .swiper-items{
    padding: 5px;
}
.swiper .swiper-items img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.slick-next:before, .slick-prev:before{
    background: rgb(181, 180, 255)!important;
    color: rgb(0, 0, 0)!important; 
    font-size: 44px!important;
}
.slick-prev {
    z-index: 4!important;
}
.slick-next {
    right: 0px!important;    
    z-index: 4!important;
}

/* end new */

.media {
    display: block;
    font-size: 10px;
    margin: 10px;
}
.media p {
    font-size: 15px;
    color: #000;
    margin: 0;
    padding: 5px 0;
}
.media .toggle-article {
    border: 0px;
    font-size: 25px;
    color: #000;
    line-height: 1;
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.media .toggle-article.down svg {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

    /* media swiper */
    .swiper-container {
        margin-top: 5px;
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 15px;
        background: #fff;
        margin: 5px 5px;
        border: 1px solid rgb(211, 211, 211); 

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        display: block;
    }
    .swiper-slide img{
        object-fit: cover;
    }
    .swiper-slide a{
        margin: 8px auto;
        color: #000;
    }
    .show-bloc {
        display: none;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        
    }
    .show-bloc.opened {
        display: block;
        width: 100%;
        opacity: 1;
    }

    @media ( max-width: 1300px) {
        
        .swiper-slide img{
            width: 150px;
        }
    }@media ( max-width: 910px) {
        
        .swiper-slide img{
            width: 130px;
        }
    }
    @media (max-width: 760px) {
        .swiper-slide img{
            width: 100%;
            height: 300px;
        }
        .swiper-button-next {
            right: 20px;
            transform: rotate(90deg);
        }

        .swiper-button-prev {
            left: 20px;
            transform: rotate(90deg);
        }
    }
    