
/* globale */
 .article-content{
    margin: 40px 100px;
}

/* Show one article */
.article .article-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0px;
    border-bottom: 1px solid #3ec25b;
    font-size: 32px;
    font-weight: bold;
}
.article .article-media{
    margin-top: 10px;
    height: 300px;
    width: 450px;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Show multiple Article */
.articles {
    display: inline-flex;
    margin: 10px;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border: 1px solid rgba(207, 207, 207, 0.623);background-color: rgba(243, 243, 243, 0.322);
}
.articles .articles-media{
    height: 180px;
    width: 250px;
    float: left;
    margin-right: 12px;
}
.articles-content{
    padding: 8px 0px 12px;
    float: right;
}
.articles-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ff9533;font-size: 32px;
    font-weight: bold;
}
.articles .article-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
}
.length *{
    overflow: hidden;
}