

@media ( max-width: 1270px) {
        
    .nav-item>.mynav{
        font-size: 12px;
        font-weight: 600;
    }
  }

/* global style */
    .H-center, .H-center > *{
        text-align: center!important ;
    }

    .V-center > *{ 
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .col, .col-1, .col-10, .col-11, .col-12,
    .col-2, .col-3, .col-4, .col-5, .col-6,
    .col-7, .col-8, .col-9, .col-auto, .col-lg,
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12,
        .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
        .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md,
        .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2,
        .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
            .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1,
            .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
            .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
            .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10,
                .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
                .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9,
                .col-xl-auto , .row{
                            margin: 0px;
                            padding: 0px;
                        }

.line-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.line-7,.line-7 *{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}


/* header */
.header {
    padding: 0 10px;
    align-items: center;
}

.logo{
    height: 100px;
    float: right;
    margin-bottom: 10px;
}


.langue{
    border: 2px solid #506a85;
    font-size: 16px;
    font-weight: bold;
    margin: -3px;
    margin-top: 12px;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: relative;
}

.langue a{
    display: inline;
    text-align: right;
    padding: 5px;
    color: #506a85;
}

.langue-active {
    background-color: #506a85;
}

.langue-active a{
    color: #fff;
}



/* nav bar */

.mynav{
    margin-right: 20px;
    font-size: 13px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
}
.navbar-light .navbar-nav .nav-link:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: green;
    transition: all 0.4s ease-in-out;
}
.navbar-light .navbar-nav .nav-link:hover:after,
.navbar-light .navbar-nav .nav-link.active:after {
    
    width: 90%;
}



/* search */

.input-group-text{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
    width: auto;float: right;
    padding-right: 2px;
}

/* sous menu */
    .sous-menu{
        margin: 10px 150px 0px;
        border-top: 1px solid #3ec25b;

    }
    .sous-nav{
        padding: 0; 
        margin: 0;
        text-align: center;
    }
    .sous-nav .nav-item a {
        display:inline-block;
        margin: 0 45px;
    }

/* /.sous menu */



/* content */
  .content{
      min-height: 600px;
  }


  
/* Footer */
footer{
    background-color: #2f4052;
    opacity: 0.96;
    height: 539px;
    color: #fff;
}


.blue-back-title{
    background-color: #4482cc;
}

.blue-back-text{
    background-color: #fff;

}


.footer-top{
    border-bottom: 1px solid #fff;
}


.footer-center{
    height: 362px;
}

.social-media{
    margin: 55px 0px;
}

.back-social{
    display: inline-block;
    border-radius: 50%;
    font-size: xx-large;
    margin: 0px 20px;
    width: 50px;
    height: 50px;
    background-color: #45a12a!important;
    color: #fff;
}

.social-icon{
    font-size: 30px;
    color: #757575;
}

.social-title{
    font-size: 13px;
    font-weight: bold;
    color: #45a12a;
}

.motivation-text{
    margin: 0px 300px 55px;    
    font-weight: 800;
    font-size: 20px;
}


.info{
    display: inline;
    margin: 0px 20px;
}

i>.fas{
    font-size: large;
}



.footer-buttom{
    border-top: 1px solid #fff;
    height: 64px;
    font-weight: 100;
    font-size: 14px;
    padding-top: 1.4rem;
}

