
/* header content */
.content-header{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
}
.header-btn{
    float: right;
    margin-left: 8px;
}
/* End header content */

.content-wrapper{
    padding : 10px 60px;
}


.send-forme{
    margin: 10px 0px;
}
.send-forme *{
    margin: 8px;
}

/* error messages */
.error-name{
    font-size: 14px;
    color: red;
    padding-left: 10px;
}
.error.col-md-12{
    margin-top: -15px;
}
/* End error messages */

/* flash message */
.flash-msg{
    color: rgb(17, 211, 17);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 30px;
}


/* user auth */
.user-name .dropdown{
  list-style-type: none;
}

.user-panel, .user-panel .info{
  overflow: unset;
}

.content{
    margin: 0px 70px;
}


.article-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0px;
    border-bottom: 1px solid #3ec25b;font-size: 32px;
    font-weight: bold;
}

.media{
    margin-top: 10px;
    height: 300px;
    width: 450px;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

