
.content{
    margin: 0px 70px;
}


.article-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 0px;
    border-bottom: 1px solid #3ec25b;font-size: 32px;
    font-weight: bold;
}

.media{
    margin-top: 10px;
    height: 300px;
    width: 450px;
    border-radius: 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
