
/* header content */
.content-header{
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 10px;
}
.header-btn{
    float: right;
    margin-left: 8px;
}
/* End header content */

.content-wrapper{
    padding : 10px 60px;
}


.send-forme{
    margin: 10px 0px;
}
.send-forme *{
    margin: 8px;
}

/* error messages */
.error-name{
    font-size: 14px;
    color: red;
    padding-left: 10px;
}
.error.col-md-12{
    margin-top: -15px;
}
/* End error messages */

/* flash message */
.flash-msg{
    color: rgb(17, 211, 17);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 30px;
}
